
/* CSS and code template and format used from previous assignment with permission from group members */
/* Project: Canadian Mortgage and Housing Corporation Web Application  */
/* Group #: Bravo */
/* Authors: Malena McCrossan, Christine Lacanilao, Fariba Tebyanian */
/* ################################################################################################# */

*{
	box-sizing: border-box;     /*style for the whole lot*/
	text-decoration: none;
}
/* Format Body */
body { 
    font-family: courier, arial, helvetica;
    font-size: 20px;
    color: #282c2d;
    background-color: #e9f0e9;
    margin: 0;
}
/* While user hovers over link it will change colour */
a:hover { 
    color: #1486D7;
}
/*style for headers */
h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center; 
    padding: 50px 0px 20px 0px;
    }

h2 { 
    font-weight: bold;
    text-align: left;
    font-size: 32px;
    padding: 50px 0px 20px 0px;
	}

h3 { 
    font-size: 26px;
    text-align: left;
}
h4{
   font-size: 34px;
	text-align: center;
	font-family: Parisienne;
	
}

/*paragraph styling*/
p.group { 
    font-family: courier, arial, helvetica;
    font-size: 20px;
    text-align: center;
    margin: 0px;
	padding: 15px;
}


p.problem {
	font-family: courier, arial, helvetica;
    font-size: 20px;
    text-align: left;
    padding: 15px 0px 15px 25px;
	line-height: 1.6;
    margin: 0px;
}
p.note{
    font-size: 16px;
    text-align: left;
    padding: 10px 0px 5px 25px;
	
}

hr {								
    background-color: #022b05;
    border-top: 2px solid;
    
}
/*Link bar on the Top*/
.menbar {
    display: none;
}

.linkbar {
    margin:0 auto;
    position: fixed;		/* Fixed top menu */
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
	align-items: center;
    justify-content: center;
}

.linkbar a {
    font-family:  courier, arial, helvetica;
    font-size: 22px;
    background-color: #0f5c15;
    padding: 12px 5px;
    text-align: center;
    color: #f0f4f5;
    flex: 1;
}
.linkbar .active a:visited {
    color: #f2f25e;
}
/* The style of hoverd link will change*/
.linkbar a:hover {
    background-color:  #182119;
    color: #f0f4f5;
    font-family:   courier, arial, helvetica;
}
.linkbar .active {
    background-color:  #012b06;
    color: #f0f4f5;
    font-family:   courier, arial, helvetica;
    font-weight: 550;
}
/*END */

.gstyle {
    align-content: center;
    text-align: center;
    padding: 75px;
}

/* Images */

img { 
    max-width: 100%;
    height:auto;
}
.memberimage {
    
    border: 1px solid #0f330f;
    padding: 15px;
    background-color:  #fafdfa;
    border-radius: 45%;
    max-height:100%;
    max-width:50%;
}

.problemimage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 0px 25px 0px;
	max-width: 50%;
	max-height: 80%;
 }
.content { /*Formatting  the main content of the page*/
    padding: 20px;
    margin: 0 100px;
}
.top {
	font-size: 100px;
	padding-bottom: 20px;
	padding-top: 20px;
	}
#top{
	text-align: center;
}

/* Footer */
.footer{
	text-align: center;
  background-color: #fafdfa;
  border-top: 1px solid #0f330f;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}
